/*---------------------------------------------------------PARTIE MOBILE---------------------------------------------------------*/

/*--------------------------------------------------Police personnalisée Roboto sur tous les élements de texte--------------------------------------------------*/

*
{
    font-family: 'Roboto',serif, sans-serif; /*Application de la police Roboto pour toutes éléments de la page si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
}
       
    /*----------------------------Personnalisation des polices pour les balises h1, h2, h3, p et li----------------------------*/
    
h1
{
    font-family: 'Shrikhand',serif, sans-serif; /*Application de la police Shrikhand pour les titres h1 si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
    font-weight: bold;
}
    
h2
{
    font-family: 'Shrikhand',serif, sans-serif; /*Application de la police Shrikhand pour les titres h2 si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
    font-weight: bold;
    font-size: 25px;
}
    
h3
{
    font-family: 'Shrikhand',serif, sans-serif; /*Application de la police Shrikhand pour les titres h3 si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
    font-weight: bold;
    font-size: 20px;
}

p
{
    font-family: 'Roboto',serif, sans-serif;
    font-size: 18px;
}

li
{
    font-family: 'Roboto',serif, sans-serif;
}

    /*---------------------------------------------------------Header---------------------------------------------------------*/

header
{
    position:relative; /*Les élements 'main' et 'header' sont définis en position relative pour pouvoir les supperposer ensuite*/
    z-index:1;/*L'élément 'main' apparaitra au premier plan par rapport à l'élément 'header' définis lui aussi en position relative.
    L'élement 'main' apparait au premier plan dans l'empilement car son z-index a une valeur supérieur au z-index de l'élément 'header' */
}

#titre_principal_et_fleche
{
    display: flex;
    flex-direction: row; /*L'icone flèche et le titre 'ohmyfood' sont mis sur une même ligne*/
    align-items: center; /*L'icone flèche et le titre 'ohmyfood' sont centrés sur l'axe secondaire vertical dans le conteneur*/
    padding-top:15px;
    padding-bottom:15px;
}

#conteneur_icone_fleche
{
    margin-left: 20px; /*L'icone flèche a une marge extérieure gauche de 20px par rapport à son conteneur*/    
}

#conteneur_icone_fleche a
{
    text-decoration: none;
    color: black;
}

#conteneur_fleche
{
    flex:0.5; /*Grossissement de l'élement flexible 'conteneur_fleche' sur l'axe principal horizontal pour pousser l'élement flexible contenant le 
    le titre 'ohmyfood' au centre de la page*/
}

#logo_ohmyfood
{
    width: 200px;
}

#conteneur_image_du_header
{
    height: 350px;
}

#conteneur_image_du_header img
{
    width: 100%;
    height: 100%;
    object-fit: cover; /*L'image est dimensionnée pour maintenir son ratio d'affichage toute en remplissant toute la boîte de contenu*/
}

    /*---------------------------------------------------------Main---------------------------------------------------------*/

main
{
    background-color:rgb(199,199,199);
    border-radius: 35px 35px 0px 0px;
    padding-left:20px;
    padding-right: 20px;
    padding-top:40px;
    padding-bottom: 40px;
    position: relative; /*Les élements 'main' et 'header' sont définis en position relative pour pouvoir les supperposer ensuite*/
    z-index:2; /*L'élément 'main' apparaitra au premier plan par rapport à l'élément 'header' définis lui aussi en position relative.
    L'élement 'main' apparait au premier plan dans l'empilement car son z-index a une valeur supérieur au z-index de l'élément 'header' */
    margin-top: -35px; /*L'élement 'main' a une marge extérieure haute négative pour permettre la supperposition avec l'élément 'header'*/
}

#titre_de_la_carte_et_icone_coeur
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.carte_icone_coeur
{
    color: white;
}

@keyframes remplissage_coeur /*Keyframes pour l'animation consistant à remplir le coeur avec la couleur violet*/
{
    0%{ /*Début de l'animation*/
        color: white;
    }
    100%{ /*Fin de l'animation*/
        color: #9356DC;    
    }
} 

.carte_icone_coeur:active
{
    animation: remplissage_coeur 10s; /*animation d'une durée de 10 secondes utilisant la keyframes 'remplissage_coeur'*/
    animation-fill-mode: forwards; /*L'animation applique les styles à sa cible après son exécution, la cible de l'animation retiendra les 
    valeurs calculées définies lors de la dernière étape keyframes, autrement dit à la fin de l'animation le coeur restera coloré en violet*/
}

.liste_entrees_plats_desserts
{
    list-style-type: none;
    padding-left: 0px; /*on enlève la marge intérieure gauche appliquée par défault sur une balise de type ul*/
}

.texte_presentation_et_prix
{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
    border-radius: 20px 20px 20px 20px;
}

@keyframes apparition_progressive_des_plats /*Animation permettant l'apparition progressive avec des délais des entrées, des plats et des desserts*/
{
    0%{ /*Début de l'animation*/
        opacity: 0; /*Au début de l'animation, l'entrée, le plat ou le dessert sont transparent*/    
    }
    100%{ /*Fin de l'animation*/
        opacity: 1; /*A la fin de l'animation, l'entrée, le plat ou le dessert sont visibles*/
    }
}

.liste_entrees_plats_desserts li:nth-child(1) /*Permet de sélectionner le premier élément d'entrée ou de plat ou de dessert*/
{
    opacity: 0; /*Au chargement de la page web l'élement est transparent*/
    animation: apparition_progressive_des_plats 3s ease-in-out forwards; /*Animation avec la keyframes 'apparition_progressive_des_plats' d'une durée de 3 secondes
    avec une courbe d'accélération-décélération ease-in-out. La propriété 'forwards' indique que l'élément entrée, plat ou dessert gardera en fin d'animation
    la même transparence-opacité que celle défini à l'étape 100% de l'animation. Autrement dit, à la fin de l'animation l'entrée, le plat ou le dessert ont
    une opacité valant 1 donc ils seront visibles sur la page web.*/
}

.liste_entrees_plats_desserts li:nth-child(2) /*Permet de sélectionner le deuxième élément d'entrée ou de plat ou de dessert*/
{
    opacity: 0;
    animation: apparition_progressive_des_plats 3s 1s ease-in-out forwards; /*Animation avec la keyframes 'apparition_progressive_des_plats' avec ajout d'un délai
    de 1 seconde avant le déclenchement de l'animation. Donc ce deuxième éléments entrée, plat ou dessert apparaitra avec un délai  de 1 seconde par rapport au premier
    élement entrée, plat ou dessert*/
}

.liste_entrees_plats_desserts li:nth-child(3) /*Permet de sélectionner le troisième élément d'entrée ou de plat ou de dessert*/
{
    opacity: 0;
    animation: apparition_progressive_des_plats 3s 2s ease-in-out forwards; /*Animation avec la keyframes 'apparition_progressive_des_plats' avec ajout d'un délai
    de 2 secondes avant le déclenchement de l'animation. Donc ce troisième élément entrée, plat ou dessert apparaitra avec un délai de 2 secondes par rapport au premier
    élement entrée, plat ou dessert*/
}

.liste_entrees_plats_desserts li:nth-child(4) /*Permet de sélectionner le quatrième élément d'entrée ou de plat ou de dessert*/
{
    opacity: 0;
    animation: apparition_progressive_des_plats 3s 2.9s ease-in-out forwards; /*Animation avec la keyframes 'apparition_progressive_des_plats' avec ajout d'un délai
    de 2.9 secondes avant le déclenchement de l'animation. Donc ce quatrième élément entrée, plat ou dessert apparaitra avec un délai de 2.9 secondes par rapport 
    au premier élement entrée, plat ou dessert*/
}

.barre_verte_entrees_plats_desserts
{
    border-bottom: 5px solid #99E2D0;
    padding-bottom: 3px;
}

.prix_entrees_plats_desserts
{
    font-weight: bold;
    padding-top:25px;
    padding-right: 20px;
}

.texte_presentation
{
    font-weight: bold;
    margin-left:10px;
}

.texte_presentation_2
{
    font-weight: normal;
}

#bouton_commander_conteneur
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bouton_commander
{
    color:white;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    width:200px;
    height:50px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 5px 5px 5px rgb(115,115,115);
}

#bouton_commander:hover
{
    cursor:pointer; /*Lorsque le bouton est survolé, le pointer de la souris devient un pointeur avec une main*/
    -webkit-filter: brightness(1.1); /*Propriété 'filter' préfixée pour les navigateurs Chrome, Safari, Android*/
    -moz-filter: brightness(1.1); /*Propriété 'filter' préfixée pour le navigateur Mozilla*/
    -o-filter: brightness(1.1); /*Propriété 'filter' préfixée pour le navigateur Opéra*/
    -ms-filter: brightness(1.1); /*Propriété 'filter' préfixée pour le navigateur internet explorer*/
    filter: brightness(1.1);
    box-shadow: 5px 5px 0px rgb(115,115,115); /*Ombre sans adoucissement du dégradé définie à 0px*/
}

#formulaire_bouton_commander
{
    margin-top: 40px;
}

    /*---------------------------------------------------------Footer---------------------------------------------------------*/

footer
{
    background-color: rgb(61,61,61);
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
}
    
footer a
{
    text-decoration: none;
    color: white;
}
    
footer a:hover
{
    color: #9356DC;
}
    
#liste_pied_de_page
{
    list-style-type: none;
    padding-left: 0px; /*on enlève la marge intérieure gauche appliquée par défault sur une balise de type ul*/
}
    
#titre_footer
{
    color: white;
}
    
#proposer_un_restaurant
{
    width: 210px;
    height:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
}
    
#devenir_partenaire
{
    width: 172px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
}
    
.mentions_legales_et_contact
{
    width: 150px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
    
    /*-------------------------------------------------MEDIA QUERIES pour les formats tablette et mobile-------------------------------------------------*/
   /*-----------------------------------------------------------------------------------------------------------------------------------------------------*/ 


    /*---------------------------------------------------------PARTIE TABLETTE---------------------------------------------------------*/

@media all and (min-width: 768px) and (max-width: 992px) /*Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 768px et 992px*/
{
    
    /*---------------------------------------------------------Header---------------------------------------------------------*/

    /*---------------------------------------------------------Main---------------------------------------------------------*/

    .texte_presentation_et_prix
    {
        width: 400px;
    }

    .liste_entrees_plats_desserts
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /*---------------------------------------------------------Footer---------------------------------------------------------*/

}

    /*---------------------------------------------------------PARTIE DESKTOP---------------------------------------------------------*/

@media all and (min-width: 992px) /*Sur tous types d'écran, quand la largeur de la fenêtre fait au minimum 992px*/
{
    
    /*---------------------------------------------------------Header---------------------------------------------------------*/
    
    /*---------------------------------------------------------Main---------------------------------------------------------*/

    .texte_entrees_plats_desserts
    {
        text-align: center;
    }

    #titre_de_la_carte_et_icone_coeur
    {
        justify-content: end;
    }

    #titre_de_la_carte
    {
        flex:0.58;
    }

    .texte_presentation_et_prix
    {
        width: 400px;
    }

    .liste_entrees_plats_desserts
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /*---------------------------------------------------------Footer---------------------------------------------------------*/

}