/*---------------------------------------------------------PARTIE MOBILE---------------------------------------------------------*/

/*--------------------------------------------------Police personnalisée Roboto sur tous les élements de texte--------------------------------------------------*/

*
{
    font-family: 'Roboto',serif, sans-serif; /*Application de la police Roboto pour toutes éléments de la page si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
}
       
    /*----------------------------Personnalisation des polices pour les balises h1, h2, h3, p et li----------------------------*/
    
h1
{
    font-family: 'Shrikhand',serif, sans-serif; /*Application de la police Shrikhand pour les titres h1 si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
    font-weight: bold;
}
    
h2
{
    font-family: 'Shrikhand',serif, sans-serif; /*Application de la police Shrikhand pour les titres h2 si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
    font-weight: bold;
    font-size: 34px;
}
    
h3
{
    font-family: 'Shrikhand',serif, sans-serif; /*Application de la police Shrikhand pour les titres h3 si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
    font-weight: bold;
    font-size: 20px;
}

p
{
    font-family: 'Roboto',serif, sans-serif;
    font-size: 16px;
}

li
{
    font-family: 'Roboto',serif, sans-serif;
}

    /*---------------------------------------------------------Header---------------------------------------------------------*/

header
{
    position:relative; /*Les élements 'main' et 'header' sont définis en position relative pour pouvoir les supperposer ensuite*/
    z-index:1;/*L'élément 'main' apparaitra au premier plan par rapport à l'élément 'header' définis lui aussi en position relative.
    L'élement 'main' apparait au premier plan dans l'empilement car son z-index a une valeur supérieur au z-index de l'élément 'header' */
}

#titre_principal_et_fleche
{
    display: flex;
    flex-direction: row; /*L'icone flèche et le titre 'ohmyfood' sont mis sur une même ligne*/
    align-items: center; /*L'icone flèche et le titre 'ohmyfood' sont centrés sur l'axe secondaire vertical dans le conteneur*/
    padding-top:15px;
    padding-bottom:15px;
}

#conteneur_icone_fleche
{
    margin-left: 20px; /*L'icone flèche a une marge extérieure gauche de 20px par rapport à son conteneur*/    
}

#conteneur_icone_fleche a
{
    text-decoration: none;
    color: black;
}

#conteneur_fleche
{
    flex:0.5; /*Grossissement de l'élement flexible 'conteneur_fleche' sur l'axe principal horizontal pour pousser l'élement flexible contenant le 
    le titre 'ohmyfood' au centre de la page*/
}

#logo_ohmyfood
{
    width: 200px;
}

#conteneur_image_du_header
{
    height: 350px;
}

#conteneur_image_du_header img
{
    width: 100%;
    height: 100%;
    /*object-fit: cover; L'image est dimensionnée pour maintenir son ratio d'affichage toute en remplissant toute la boîte de contenu*/
}

    /*---------------------------------------------------------Main---------------------------------------------------------*/

main
{
    background-color: #f6f6f6;
    border-radius: 35px 35px 0px 0px;
    padding-left:20px;
    padding-right: 20px;
    padding-top:40px;
    padding-bottom: 40px;
    position: relative; /*Les élements 'main' et 'header' sont définis en position relative pour pouvoir les supperposer ensuite*/
    z-index:2; /*L'élément 'main' apparaitra au premier plan par rapport à l'élément 'header' définis lui aussi en position relative.
    L'élement 'main' apparait au premier plan dans l'empilement car son z-index a une valeur supérieur au z-index de l'élément 'header' */
    margin-top: -35px; /*L'élement 'main' a une marge extérieure haute négative pour permettre la supperposition avec l'élément 'header'*/
}

#titre_de_la_carte_et_icone_coeur
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carte_icone_coeur
{
    -webkit-text-stroke-color: black; /*Contour de l'icône coeur en noir*/
    -webkit-text-stroke-width:thin; /*Epaisseur du contour de l'icône coeur*/
    color: #f6f6f6;
}

@keyframes remplissage_coeur /*Keyframes pour l'animation consistant à remplir le coeur avec la couleur violet*/
{
    0%{ /*Début de l'animation*/
        color: #f6f6f6;
    }
    100%{ /*Fin de l'animation*/
        color: #9356DC;    
    }
} 

.carte_icone_coeur:active
{
    animation: remplissage_coeur 10s; /*animation d'une durée de 10 secondes utilisant la keyframes 'remplissage_coeur'*/
    animation-fill-mode: forwards; /*L'animation applique les styles à sa cible après son exécution, la cible de l'animation retiendra les 
    valeurs calculées définies lors de la dernière étape keyframes, autrement dit à la fin de l'animation le coeur restera coloré en violet*/
}

.liste_entrees_plats_desserts
{
    list-style-type: none;
    padding-left: 0px; /*on enlève la marge intérieure gauche appliquée par défault sur une balise de type ul*/
}

.texte_presentation_et_prix /*Conteneur d'une entrée, d'un plat ou d'un dessert*/
{
    background-color: white;
    margin-bottom:20px; /*Permet d'espacer un conteneur d'une entrée, d'un plat ou d'un dessert d'un autre conteneur*/ 
    border-radius: 20px 20px 20px 20px; /*Arrondissement des angles du conteneur*/
    height: 90px; /*Hauteur du conteneur d'une entrée, d'un plat ou d'un dessert*/
    overflow: hidden; /*Les éléments qui dépassent de ce conteneur sont masqués. Cette propriété est utilisée pour masquer le conteneur de la
    coche verte quand celui-ci est en dehors du conteneur*/
}

.texte_presentation_et_prix:active
{
    cursor:pointer; /*Lorsque du clic sur une entrée, un plat ou un dessert le pointer de la souris devient un pointeur avec une main*/
}

@keyframes apparition_progressive_des_plats /*Animation permettant l'apparition progressive avec des délais des entrées, des plats et des desserts*/
{
    0%{ /*Début de l'animation*/
        opacity: 0; /*Au début de l'animation, l'entrée, le plat ou le dessert sont transparent*/    
    }
    100%{ /*Fin de l'animation*/
        opacity: 1; /*A la fin de l'animation, l'entrée, le plat ou le dessert sont visibles*/
    }
}

.liste_entrees_plats_desserts li:nth-child(1) /*Permet de sélectionner le premier élément d'entrée ou de plat ou de dessert*/
{
    opacity: 0; /*Au chargement de la page web l'élement est transparent*/
    animation: apparition_progressive_des_plats 3s ease-in-out forwards; /*Animation avec la keyframes 'apparition_progressive_des_plats' d'une durée de 3 secondes
    avec une courbe d'accélération-décélération ease-in-out. La propriété 'forwards' indique que l'élément entrée, plat ou dessert gardera en fin d'animation
    la même transparence-opacité que celle défini à l'étape 100% de l'animation. Autrement dit, à la fin de l'animation l'entrée, le plat ou le dessert ont
    une opacité valant 1 donc ils seront visibles sur la page web.*/
}

.liste_entrees_plats_desserts li:nth-child(2) /*Permet de sélectionner le deuxième élément d'entrée ou de plat ou de dessert*/
{
    opacity: 0;
    animation: apparition_progressive_des_plats 3s 1s ease-in-out forwards; /*Animation avec la keyframes 'apparition_progressive_des_plats' avec ajout d'un délai
    de 1 seconde avant le déclenchement de l'animation. Donc ce deuxième éléments entrée, plat ou dessert apparaitra avec un délai  de 1 seconde par rapport au premier
    élement entrée, plat ou dessert*/
}

.liste_entrees_plats_desserts li:nth-child(3) /*Permet de sélectionner le troisième élément d'entrée ou de plat ou de dessert*/
{
    opacity: 0;
    animation: apparition_progressive_des_plats 3s 2s ease-in-out forwards; /*Animation avec la keyframes 'apparition_progressive_des_plats' avec ajout d'un délai
    de 2 secondes avant le déclenchement de l'animation. Donc ce troisième élément entrée, plat ou dessert apparaitra avec un délai de 2 secondes par rapport au premier
    élement entrée, plat ou dessert*/
}

.liste_entrees_plats_desserts li:nth-child(4) /*Permet de sélectionner le quatrième élément d'entrée ou de plat ou de dessert*/
{
    opacity: 0;
    animation: apparition_progressive_des_plats 3s 2.9s ease-in-out forwards; /*Animation avec la keyframes 'apparition_progressive_des_plats' avec ajout d'un délai
    de 2.9 secondes avant le déclenchement de l'animation. Donc ce quatrième élément entrée, plat ou dessert apparaitra avec un délai de 2.9 secondes par rapport 
    au premier élement entrée, plat ou dessert*/
}

.texte_entrees_plats_desserts /*Selecteur sur les textes 'ENTREES', 'PLATS' et 'DESSERTS'*/
{
    padding-left: 10px; 
    font-size: 22px;
}

.barre_verte_entrees_plats_desserts /*On met une barre verte en dessous de certaines lettres des textes 'ENTREES', 'PLATS', 'DESSERTS'*/
{
    border-bottom: 5px solid #99E2D0;
    padding-bottom: 3px;
}

.prix_entrees_plats_desserts
{
    transition: transform 0.2s ease-in-out; /*Transition sur la propriété 'transform', d'une durée de 0.2 secondes avec une courbe d'accélération/décélération
    ease-in-out*/
    transform:translateX(0px); /*On applique sur l'élément prix une translation horizontal de 0px. Cette translation correspond au paramètre initial de la
    transition*/
    font-size: 19px;
    font-weight: bold;
}

.conteneur_coche_ajout_du_plat
{
    position: relative; /*L'élement est défini en position relative donc il est déplacé par rapport à sa position initiale dans le flux*/
    left:100%; /*L'élément est positionné à droite de sa position initiale à une largeur valant 100% la largeur de son élément parent*/
    width:70px; /*C'est la largeur de l'élément conteneur de la coche verte*/
    height: 100%; /*La hauteur de l'élément vaut 100% la hauteur de son élement parent qui est '.texte_presentation_et_prix'*/
    border-radius: 0px 20px 20px 0px; /*Le conteneur de la coche verte a ses bords droit arrondis*/
    background-color: #99E2D0;
    display:flex; /*Utilisation de flexbox pour center l'icone de la coche verte dans ce conteneur*/
    flex-direction: row; /*L'icone de la coche verte est mis sur une ligne dans ce conteneur*/
    justify-content: center; /*La coche verte est centrée dans le conteneur horizontalement*/
    align-items: center; /*La coche verte est centrée dans le conteneur verticalement*/
    transition: transform 0.2s ease-in-out; /*Transition sur la priopriété 'transform', d'une durée de 0.2 secondes avec une courbe d'accélération-décélération
    de type ease-in-out*/
    transform:translate(0px); /*L'élément conteneur de la coche verte est translaté horizontalement de 0px. Cette translation correspond au paramètre initial
    de la transition*/
}

.coche_ajout_du_plat
{
    background-color: white;
    color: #99E2D0;
    border-radius: 30px 30px 30px 30px; /*L'icone coche a des bords arrondis*/
    width: 17px; /*Largeur de l'icone coche*/
    height: 17px; /*Hauteur de l'icône coche*/
}

.texte_complementaire_et_prix_element_de_menu
{
    position:relative; /*L'élement est défini en position relative donc il est déplacé par rapport à sa position initiale dans le flux*/
    bottom: 150%; /*L'élément est positionné en haut de sa position initiale à une hauteur valant 150% la hauteur de son élément parent*/
    display:flex; /*Utilisation de flex, le texte complémentaire et le prix sont mis sur une même ligne*/
    justify-content: space-between; /*Le texte complémentaire et le prix sont espacé sur l'axe principal horizontal*/
    padding-left: 15px; /*Permet de positionner le texte complémentaire*/
    padding-right: 25px; /*Permet de positionner l'élément prix*/
}

.texte_presentation_et_prix:active .conteneur_coche_ajout_du_plat /*Lors du clic sur une entrée, un plat ou un dessert, on applique sur l'élement contenant la*/
{/*coche verte les propriétés CSS ci-dessous: */
    width:70px;
    height: 100%; /*L'élément contenant la coche verte a une hauteur valant 100% celle de son élément parent*/
    border-radius: 0px 20px 20px 0px;  /*L'élément a ses bords droit arrondis*/
    background-color: #99E2D0;
    display:flex; /*Utilisation de flexbox pour centrer l'icone de la coche verte dans ce conteneur*/
    flex-direction: row; /*Flexbox en horizontal pour les élements*/
    justify-content: center; /*Alignement de l'icone coche horizontalement dans le conteneur*/
    align-items: center; /*Alignement de l'icone coche verticalement dans le conteneur*/
    transform:translateX(-70px); /*L'élément est translaté à -70 pixels sur l'axe horizontal lors de la transition. Ainsi avec cette transition au clic sur une entrée,
    un plat ou un dessert on a l'élément conteneur de la coche verte qui apparait à droite du conteneur '.texte_presentation_et_prix'*/
}

.conteneur_coche_ajout_du_plat i /*Sélection des icônes cases à cocher*/
{
    transition: transform 0.4s ease-in-out; /*Transition sur la priopriété 'transform', d'une durée de 0.4 secondes avec une courbe d'accélération-décélération
    de type ease-in-out*/ 
    transform: rotate(0deg); /*L'élément icône case à cocher a une rotation de 0 degré. Cette rotation correspond au paramètre initial
    de la transition*/
}

.texte_presentation_et_prix:active i /*Lors du clic sur une entrée, un plat, ou un dessert, on applique sur l'élément icône case à cocher*/
{/*Les propriétés CSS ci-dessous:*/
    transform: rotate(360deg); /*L'élément a une rotation de 360 degrés lors de la transition. Ainsi avec cette transition au clic sur une entrée,
    un plat ou un dessert on a l'élément icône de la coche verte qui tourne dans son conteneur '.conteneur_coche_ajout_du_plat'*/
}

.texte_presentation_et_prix:active .prix_entrees_plats_desserts /*Lors du clic sur une entrée, un plat, ou un dessert, on applique sur l'élement contenant le prix*/
{ /*Les propriété CSS ci-dessous:*/
    transform: translateX(-70px); /*Durant la transition, l'élément du prix est translaté horizontalement de -70 pixels pour permettre au conteneur de la coche verte
    d'apparaitre sans se chevaucher avec l'élément prix dans l'élément '.texte_presentation_et_prix'*/
}

.titre_element_de_menu /*Selecteur du titre d'un élément du menu, il peut s'agir du titre d'une entrée, d'un plat ou d'un dessert*/
{
    position:relative; /*L'élement est défini en position relative donc il est déplacé par rapport à sa position initiale dans le flux*/
    bottom: 110%; /*L'élément est positionné en haut de sa position initiale à une hauteur valant 110% la hauteur de son élément parent*/
}

.texte_presentation /*Sélecteur sur le titre d'une entrée, d'un plat ou d'un dessert*/
{
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

.texte_presentation_et_prix:active .texte_presentation_2 /*Lors du clic sur une entrée, un plat, ou un dessert, on applique sur l'élement de présentation 2 d'une*/
{/*entrée, d'un plat ou d'un dessert, les propriétés CSS ci-dessous:*/
    white-space: nowrap; /*Suppression du passage à la ligne automatique pour le texte*/
    overflow: hidden; /*Si le texte dépasse du bloc alors le texte est caché*/
    text-overflow: ellipsis; /*Une ellipse '...' est affichée  pour représenter le texte rogné quand celui-ci dépasse de son conteneur*/
    margin-right: 80px; /*L'élément de présentation 2 a une marge extérieure droite de 80px permettant lors du clic sur une entrée, un plat ou un dessert de
    reduire le texte affiché de l'élement présentation 2 et de mettre une ellipse à la place du texte qui n'est pas affiché*/
}

.texte_presentation_2 /*Sélecteur du texte de présentation 2 d'une entrée, d'un plat ou d'un dessert*/
{
    font-size: 19px;   
}

#bouton_commander_conteneur
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bouton_commander
{
    color:white;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    width:200px;
    height:50px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 5px 5px 5px rgb(115,115,115);
}

#bouton_commander:hover
{
    cursor:pointer; /*Lorsque le bouton est survolé, le pointer de la souris devient un pointeur avec une main*/
    -webkit-filter: brightness(1.1); /*Propriété 'filter' préfixée pour les navigateurs Chrome, Safari, Android*/
    -moz-filter: brightness(1.1); /*Propriété 'filter' préfixée pour le navigateur Mozilla*/
    -o-filter: brightness(1.1); /*Propriété 'filter' préfixée pour le navigateur Opéra*/
    -ms-filter: brightness(1.1); /*Propriété 'filter' préfixée pour le navigateur internet explorer*/
    filter: brightness(1.1);
    box-shadow: 5px 5px 0px rgb(115,115,115); /*Ombre sans adoucissement du dégradé définie à 0px*/
}

#formulaire_bouton_commander
{
    margin-top: 40px;
}

    /*---------------------------------------------------------Footer---------------------------------------------------------*/

footer
{
    background-color: #353535;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
}
    
footer a
{
    text-decoration: none;
    color: white;
}
    
footer a:hover
{
    color: #9356DC;
}
    
#liste_pied_de_page
{
    list-style-type: none;
    padding-left: 0px; /*on enlève la marge intérieure gauche appliquée par défault sur une balise de type ul*/
}
    
#titre_footer
{
    color: white;
}
    
#proposer_un_restaurant
{
    width: 190px;
    height:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
}
    
#devenir_partenaire
{
    width: 156px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
}
    
.mentions_legales_et_contact
{
    width: 150px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
    
    /*-------------------------------------------------MEDIA QUERIES pour les formats tablette et mobile-------------------------------------------------*/
   /*-----------------------------------------------------------------------------------------------------------------------------------------------------*/ 


    /*---------------------------------------------------------PARTIE TABLETTE---------------------------------------------------------*/

@media all and (min-width: 768px) and (max-width: 992px) /*Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 768px et 992px*/
{
    
    /*---------------------------------------------------------Header---------------------------------------------------------*/

    /*---------------------------------------------------------Main---------------------------------------------------------*/

    .texte_presentation_et_prix
    {
        width: 450px;
    }

    .liste_entrees_plats_desserts
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /*---------------------------------------------------------Footer---------------------------------------------------------*/

}

    /*---------------------------------------------------------PARTIE DESKTOP---------------------------------------------------------*/

@media all and (min-width: 992px) /*Sur tous types d'écran, quand la largeur de la fenêtre fait au minimum 992px*/
{
    
    /*---------------------------------------------------------Header---------------------------------------------------------*/
    
    /*---------------------------------------------------------Main---------------------------------------------------------*/

    .texte_entrees_plats_desserts
    {
        text-align: center;
    }

    #titre_de_la_carte_et_icone_coeur
    {
        justify-content: end;
    }

    #titre_de_la_carte
    {
        flex:0.58;
    }

    .texte_presentation_et_prix
    {
        width: 450px;
    }

    .liste_entrees_plats_desserts
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /*---------------------------------------------------------Footer---------------------------------------------------------*/

}