    /*---------------------------------------------------------PARTIE MOBILE---------------------------------------------------------*/

    /*--------------------------------------------------Police personnalisée Roboto sur tous les élements de texte--------------------------------------------------*/

*
{
    font-family: 'Roboto',serif, sans-serif; /*Application de la police Roboto pour tous les éléments de la page si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
}

    /*----------------------------Personnalisation des polices pour les balises h1, h2, h3, p et li----------------------------*/

h1
{
    font-family: 'Shrikhand',serif, sans-serif; /*Application de la police Shrikhand pour les titres h1 si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
    font-weight: bold;
}

h2
{
    font-family: 'Shrikhand',serif, sans-serif; /*Application de la police Shrikhand pour les titres h2 si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
    font-weight: bold;
    font-size: 25px;
}

h3
{
    font-family: 'Shrikhand',serif, sans-serif; /*Application de la police Shrikhand pour les titres h3 si la police n'est pas trouvé par le navigateur
    alors affichage des deux polices par défaut 'serif' et 'sans-serif'*/
    font-weight: bold;
    font-size: 20px;
}

p
{
    font-family: 'Roboto',serif, sans-serif;
    font-size: 16px;
}

li
{
    font-family: 'Roboto',serif, sans-serif;
}

    /*---------------------------------------------------------Header---------------------------------------------------------*/

#titre_principal
{
    padding-top: 15px;
    padding-bottom:15px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo_ohmyfood
{
    width:200px;
}

#icone_et_paris_belleville_background
{
    background-color: rgb(115,115,115);
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

#icone_et_paris_belleville
{
    width:180px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

#texte_menu_et_bouton_explorer_background
{
    background-color:rgb(199,199,199);
    padding-top:20px;
}

#paragraphe_reservez_menu
{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#paragraphe_decouvrez_des_restaurants
{
    text-align: center;
}

#bouton_explorer_conteneur
{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

#bouton_explorer
{
    color:white;
    background: linear-gradient(#FF79DA,#9356DC);
    border: none;
    width:200px;
    height:50px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 5px 5px 5px rgb(115,115,115);
}

#bouton_explorer:hover
{
    cursor:pointer; /*Lorsque le bouton est survolé, le pointer de la souris devient un pointeur avec une main*/
    -webkit-filter: brightness(1.1); /*Propriété 'filter' préfixée pour les navigateurs Chrome, Safari, Android*/
    -moz-filter: brightness(1.1); /*Propriété 'filter' préfixée pour le navigateur Mozilla*/
    -o-filter: brightness(1.1); /*Propriété 'filter' préfixée pour le navigateur Opéra*/
    -ms-filter: brightness(1.1); /*Propriété 'filter' préfixée pour le navigateur internet explorer*/
    filter: brightness(1.1);
    box-shadow: 5px 5px 0px rgb(115,115,115); /*Ombre sans adoucissement du dégradé définie à 0px*/
}

#alignement_icone_texte
{
    background-color:rgb(199,199,199);
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
}   

#alignement_icone_texte_2
{
    background-color:rgb(199,199,199);
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
}

#alignement_icone_texte_3
{
    background-color:rgb(199,199,199);
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
}

#fonctionnement_liste_de_choix
{
    list-style-type: none;
    padding-left: 0px; /*on enlève la marge intérieure gauche appliquée par défault sur une balise de type ul*/
}

#fonctionnement_liste_de_choix a
{
    text-decoration: none;
    color: black;
}

#fonctionnement
{
    padding-left: 40px;
    padding-right: 20px;
}

#fonctionnement_titre
{
    margin-left:-20px;
}

.fonctionnement_icone_1
{
    color: rgb(115,115,115);
    margin-right: 35px;
}

.fonctionnement_icone_2_et_3
{
    color: rgb(115,115,115);
    margin-right: 20px;
}

.fonctionnement_numero
{
    background-color: #9356DC;
    margin-right:30px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:35px;
    height:35px;
    border-radius: 40px 40px 40px 40px;
    color:white;
    margin-left: -20px;
}

input::placeholder /*Utilisation du pseudo-élément ::placeholder sur les balises input pour modifier les attributs du paramètre placeholder dans le champ de texte*/
{
    color: black; /*Le texte dans le placeholder est de couleur noir*/
    font-size: 18px;
}

#champ_recherche
{
    background-color: rgb(115,115,115);
    border: none;
    font-size: 18px;
}

#champ_recherche:focus
{
    outline: 3px solid #9356DC; /*Lorsque le champ de texte est sélectionné, un contour (différent de la bordure) s'affiche autour du champ de texte*/
}

    /*---------------------------------------------------------Main---------------------------------------------------------*/

main
{
    background-color:rgb(199,199,199);
    padding-left:20px;
    padding-right: 20px;
    padding-top:20px;
    padding-bottom: 40px;
}

.carte_image_et_corps
{
    background-color: white;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 3px 3px 3px rgb(115,115,115); /*Ombre grise appliquée sur la carte*/
}

.carte_image
{
    height:200px;
}

.carte_image img
{
    width:100%; /*L'image prend la largeur de son élément parent*/
    height:100%; /*L'image prend la hauteur de son élément parent*/
    object-fit: cover; /*L'image est dimensionnée pour maintenir son ratio d'affichage toute en remplissant toute la boîte de contenu*/
}

.carte_corps
{
    height: 100px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

#toutes_les_cartes a
{
    text-decoration: none;
}

.titre_carte_complet
{
    font-size: 20px;
}

.titre_carte
{
    font-weight: bold;
}

.carte_texte
{
    margin-left:20px;
    color: black;
}

.carte_icone
{
    margin-right: 30px;
}

.image_arrondie
{
    border-radius: 30px 30px 0px 0px;
}

.image_associee_a_element_vert
{
    position:relative; /*l'élément 'image_associee_a_element_vert' est définit en position relative pour pouvoir le postionner dans son conteneur
    parent qui est .carte_image*/   
}

.element_vert
{
    background-color: #99E2D0;
    color:green;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    position:relative; /*l'élément 'element_vert' est définit en position relative pour pouvoir le postionner dans son conteneur parent qui est .carte_image*/
    width:20%; /*L'élément a une largeur égale à 20% de la largeur de son élement parent .carte_image*/
    height:15%; /*L'élément a une hauteur égale à 15% de la hauteur de son élement parent .carte_image*/
    left: 76%; /*L'élément est décalé à droite de sa position initiale avec un décalage correspondant à 76% de la largeur de son élément parent .carte_image*/
    bottom:92%; /*L'élément est décalé vers le haut de sa position initiale avec un décalage correspondant à 92% de la hauteur de son élément parent .carte_image*/
    display:flex;
    flex-direction: row; /*Permet de mettre l'élement <p> avec le texte 'Nouveau' sur une ligne à l'horizontal*/ 
    justify-content: space-around; /*Centrage de l'élement <p> avec le texte 'Nouveau' sur l'axe principale horizontal*/
    align-items: center; /*Centrage de l'élement <p> avec le texte 'Nouveau' sur l'axe secondaire vertical*/
}

.carte_icone_coeur
{
    color: rgb(115,115,115);
}

@keyframes remplissage_coeur /*Keyframes pour l'animation consistant à remplir le coeur avec la couleur violet*/
{
    0%{ /*Début de l'animation*/
        color: rgb(115,115,115);
    }
    100%{ /*Fin de l'animation*/
        color: #9356DC;    
    }
} 

.carte_icone_coeur:hover
{
    animation: remplissage_coeur 10s; /*animation d'une durée de 10 secondes utilisant la keyframes 'remplissage_coeur'*/
    animation-fill-mode: forwards; /*L'animation applique les styles à sa cible après son exécution, la cible de l'animation retiendra les 
    valeurs calculées définies lors de la dernière étape keyframes, autrement dit à la fin de l'animation le coeur restera coloré en violet*/
}

    /*---------------------------------------------------------Footer---------------------------------------------------------*/

footer
{
    background-color: rgb(61,61,61);
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
}

footer a
{
    text-decoration: none;
    color: white;
}

footer a:hover
{
    color: #9356DC;
}

#liste_pied_de_page
{
    list-style-type: none;
    padding-left: 0px; /*on enlève la marge intérieure gauche appliquée par défault sur une balise de type ul*/
}

#titre_footer
{
    color: white;
}

#proposer_un_restaurant
{
    width: 190px;
    height:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
}

#devenir_partenaire
{
    width: 156px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
}

.mentions_legales_et_contact
{
    width: 150px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    /*---------------------------------------------------------Loading spinner---------------------------------------------------------*/

@keyframes loading_spinner /*keyframe utilisée pour l'animation de chargement avec le loading spinner*/
{
    0%{ /*Début de l'animation*/
        font-family: 'Shrikhand',serif, sans-serif; /*Police Shrikhand utilisée pour le loading spinner*/
        font-weight: bold; /*Le texte 'CHARGEMENT' est mis en gras*/
        font-size: 35px; /*Le texte 'CHARGEMENT' a une taille de 35 pixels*/
        text-align: center; /*Le texte 'CHARGEMENT' est aligné sur l'axe horizontal dans son conteneur*/
        line-height: 360px; /*Permet de centrer le texte 'CHARGEMENT' sur l'axe vertical de son conteneur, 'line-height' pour center le texte 'CHARGEMENT'
        doit avoir pour valeur la hauteur de son conteneur soit 360 pixels*/
        position: fixed; /*L'élement loading spinner est défini en position fixe, même en utilisant la barre de défilement l'élément restera fixe sur l'écran*/
        top: 15%; /*L'élement est positionné à 15% de la hauteur de son élément parent à partir de la bordure haute de son parent*/
        left: 50%; /*L'élément est positionné à 50% de la largeur de son élément parent à partir de la bordure gauche de son élément parent*/
        margin-left: -180px; /*Avec cette marge valant la moitié de la largeur de l'élement loading spinner, l'élément est centré sur l'axe horizontal de l'écran
        suite au positionnement 'left:50%'*/
        border: 16px solid; /*Bordure du loading spinner d'épaisseur 16px et solid*/
        border-radius: 50%; /*Les bords de l'élément sont arrondis*/
        border-top: 16px solid black;
        border-bottom: 16px solid black;
        border-left: 16px solid #9356DC;
        border-right: 16px solid #9356DC;
        width: 360px; /*Hauteur du loading spinner*/
        height: 360px; /*Largeur du loading spinner*/
        transform: rotate(0deg); /*Au début de l'animation, rotation de l'élément à 0 degré*/
        background: white; /*Couleur de fond du loading spinner en blanc*/
        visibility: visible; /*L'élement loading spinner est visible*/
    }
    100%{ /*Fin de l'animation*/
        font-family: 'Shrikhand',serif, sans-serif;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        line-height: 360px;
        position: fixed;
        top: 15%;
        left: 50%;
        margin-left: -180px;
        border: 16px solid;
        border-radius: 50%;
        border-top: 16px solid black;
        border-bottom: 16px solid black;
        border-left: 16px solid #9356DC;
        border-right: 16px solid #9356DC;
        width: 360px;
        height: 360px;
        transform: rotate(360deg); /*A la fin de l'animation, rotation de l'élément à 360 degrés*/
        background: white;
        visibility: visible;
    }     
}

.chargement
{
    position: fixed; /*L'élement loading spinner est défini en position fixe, même en utilisant la barre de défilement l'élément restera fixe sur l'écran*/
    top: 90%; /*L'élement est positionné à 90% de la hauteur de son élément parent à partir de la bordure haute de son parent*/
    left: 50%; /*L'élément est positionné à 50% de la largeur de son élément parent à partir de la bordure gauche de son élément parent*/
    visibility: hidden; /*Le texte 'CHARGEMENT' du loading spinner est masqué et n'apparait pas dans la page web car ce texte doit uniquement être visible lors 
    de l'animation du loading spinner*/
    animation: loading_spinner 3s ease-in-out; /*Lancement de l'animation 'loading spinner' pendant 3 secondes sur une courbe accélération-décélération ease-in-out*/
}

    /*-------------------------------------------------MEDIA QUERIES pour les formats tablette et mobile-------------------------------------------------*/
   /*-----------------------------------------------------------------------------------------------------------------------------------------------------*/ 


    /*---------------------------------------------------------PARTIE TABLETTE---------------------------------------------------------*/

@media all and (min-width: 768px) and (max-width: 992px) /*Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 768px et 992px*/
{

    /*---------------------------------------------------------Header---------------------------------------------------------*/

    #alignement_icone_texte
    {
        width:300px;
    }

    #alignement_icone_texte_2
    {
        width:300px;
    }

    #alignement_icone_texte_3
    {
        width:300px;
    }

    #fonctionnement_liste_de_choix
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .fonctionnement_icone_1
    {
        margin-right: 20px;
    }

    /*---------------------------------------------------------Main---------------------------------------------------------*/

    /*---------------------------------------------------------Footer---------------------------------------------------------*/

}

    /*---------------------------------------------------------PARTIE DESKTOP---------------------------------------------------------*/

@media all and (min-width: 992px) /*Sur tous types d'écran, quand la largeur de la fenêtre fait au minimum 992px*/
{

    /*---------------------------------------------------------Header---------------------------------------------------------*/

    /*---------------------------------------------------------Main---------------------------------------------------------*/

    #alignement_icone_texte
    {
        width:300px;
    }

    #alignement_icone_texte_2
    {
        width:300px;
    }

    #alignement_icone_texte_3
    {
        width:300px;
    }

    #fonctionnement_liste_de_choix
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .fonctionnement_icone_1
    {
        margin-right: 20px;
    }

    .carte_image_et_corps
    {
        width: 600px;        
    }

    #toutes_les_cartes
    {
        display:flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

    }

    .carte_image_et_corps
    {
        margin-right: 20px;
        margin-left: 20px;
    }

    /*---------------------------------------------------------Footer---------------------------------------------------------*/

}